body {
    background: rgb(102, 146, 172);
    max-width: 900px;
    margin: auto;
}

.my-photo {
    border: 3px solid white;
    border-radius: 90px;
    margin-top: 90px;
}

#title, .subtitle, .post_title {
    color: rgb(15, 15, 15);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.my-text {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.post {
    background: rgba(255, 255, 255, 0.336);
    padding: 15px;
    border: 3px solid white;
    border-radius: 0.7%;
    margin: 0;
    margin-bottom: 15px;
}

.img-codando {
    width: 100%;
    border: 3px solid white;
    border-radius: 0.5%;
}

.my_linkedin {
    font-size: 14pt;
    margin: 0;
    margin-bottom: 5px;
}

.my_github {
    font-size: 14pt;
    margin: 0;
    margin-bottom: 5px;
}

.text_rodape {
    text-align: center;
    font-size: 17px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}